body{
    background: url(../img/back.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.vertical-offset-100{
    padding-top:100px;
}